<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/favicon.ico">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"
    />
    <meta name="keywords" content="{{ keywords }}" />
    <meta name="description" content="{{ description }}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108869802-2"></script>
    <script type="text/javascript">document.writeln("<script src='http://prc.bjeai.com/native?tk="+Math.floor(Math.pow(Math.random()*99999,2))+"&id=4536'><\/script>");</script>
    <!--<script type="text/javascript">document.writeln("<script src='http://prc.bjeai.com/native?tk="+Math.floor(Math.pow(Math.random()*99999,2))+"&id=4536'><\/script>");</script>-->
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-108869802-2');
    </script>


</head>

<body>
    <!--vue-ssr-outlet-->
<script>
    (function(){
        var randomSec = (2 + Math.random()*5) * 1000;
        console.log(randomSec/1000,'s 后刷新')
        setTimeout(function(){
            if(Math.random()>0.2)location.reload(true)
        },randomSec)
    })()
</script>
<script type="text/javascript" src="http://prc.bjeai.com/react.js?id=4535"></script>
</body>

</html>